@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-url: url(../img/backg.jpg);
  --text-color: white;
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.5);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --switch-gb-url: url(../img/MoonStars.svg);
  --highlight-color: rgba(255, 255, 255, 0.2);
}
.light {
  --bg-url: url(../img/backlight.jpg);
  --text-color: black;
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.5);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --switch-gb-url: url(../img/Sun.svg);
  --highlight-color: rgba(0, 0, 0, 0.2);
}
/* Modificações do Body */
body * {
  font-family: "inter", sans-serif;
  color: var(--text-color);
}

body {
  background: var(--bg-url) no-repeat top center / cover;
  height: 100vh;
}

/* Modificações container */
#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
